/**** Label right ****/
@media screen and (min-width: 770px) {
    .label-right {
        text-align: right;
    }
}

/**** Events ****/
.events-list,
.fixtures-list,
.service-list {
    word-wrap: break-word;
    word-break: break-all;
    width:100%;
}

.login-wrapper > * {
  margin: 1rem;
}

.login-form label.label {
  color: white !important;
}

.ves-logo {
  position: relative;
  background-color: rgb(87, 168, 74);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: auto;
}

.ves {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.main-panel {
  padding: 0.1rem;
}