<!DOCTYPE html>
<html lang="pl">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>WorkTime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Fixture services and list helper">
  <meta name="keywords" content="worktime,work,time">
  <meta name="author" content="AngrySoft" >
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#8e2525">
  <meta name="theme-color" content="#8e2525">
  <link rel="stylesheet" href="/static/angry.min.css">
  <link rel="stylesheet" href="/static/styles.min.css">

  {% endblock %}

  <script defer src="/static/scripts/main.dart.js"></script>

  {% block dart %}
  {% endblock %}
</head>
  <body>
    <!-- TODO zapytanie o ciacho-->
    <div class="container">

{#        <div class="go-top">#}
{#            <img class="arrow-up" src="static/images/arrow_up.png">#}
{#        </div>#}

{#        <div class="row center-xs">#}
{#            <div id="top" class="logo col-xs-11 col-md-10 col-lg-6">#}
{#                <img src="static/images/logo.png" alt="">#}
{#            </div>#}
{#        </div>#}

    </div>

    <main class="container-fliuid">
      {% block mainpanel %}
      <div class="row main-panel">
        <div class="col-md-1">|||</div>
        <div class="col-md-2">
          <select class="select" name="{{ month }}">
              <option value="01">Styczeń</option>
              <option value="02">luty</option>
              <option value="03">Marzec</option>
              <option value="04">Kwiecień</option>
              <option value="05">Maj</option>
              <option value="06">Czerwiec</option>
              <option value="07">Lipiec</option>
              <option value="08">Sierpień</option>
              <option value="09">Wrzesień</option>
              <option value="10">Październik</option>
              <option value="11">Listopad</option>
              <option value="12">Grudzień</option>
            </select>
        </div>
      <div class="col-md-1">
        <input class="input" type="number" min="2000" value="2018">
      </div>
      <div class="col-md-offset-6 col-md-1"><span class='own-name'>Witaj </span></div>
      <div class="cols-md-1"><a href="/logout" class="btn grey">Logout</a></div>
      </div>
      {% endblock %}
    {% block content %}
    {% endblock %}
    </main>

    {% block footer %}
    {% endblock %}
  </body>
</html>