<!DOCTYPE html>
<html lang="pl">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>WorkTime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="work Time">
  <meta name="keywords" content="worktime">
  <meta name="author" content="AngrySoft" >
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#8e2525">
  <meta name="theme-color" content="#8e2525">
  <link rel="stylesheet" href="/static/angry.min.css">
  <link rel="stylesheet" href="/static/styles.min.css">
  <script defer src="/static/scripts/login.dart.js"></script>
  {% endblock %}
</head>
  <body>
    <main class="container">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-6">
          <div class="panel login-wrapper">

            <div class="row center-xs">
              <div class="ves-logo">
                <div class="ves">ves.</div>
              </div>
            </div>

            <div class="row center-xs">

              <div class="col-xs-12 col-md-3 txt-center">
                <label class="label" for="login">Email: </label>
              </div>

              <div class="col-xs-12 col-md-9">
                <input class="input" id="login" type="email" placeholder="Adress Email" required>
              </div>

            </div>

            <div class="row center-xs txt-center">
              <div class="col-xs-12 col-md-3">
                <label class="label" for="password">Hasło: </label>
              </div>

              <div class="col-xs-12 col-md-9">
                <input class="input" id="password" type="password" placeholder="Hasło" required>
              </div>
            </div>
            
            <div class="row center-xs">
              <div class="col-xs-12 col-md-6">
                <input class="btn white" id="btn-login" type="button" value="Login">
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>