{% extends 'layout.html' %}
{% block dart %}
    <script async type="application/dart" src="/static/scripts/events.dart"></script>
{% endblock %}

{% block content %}
   <div class="row center-xs">
    <div class="col-xs panel round-small shadow-4">
        <fieldset>
          <legend>List</legend>
          <div class="row">
            <div class="col-xs-12">
              <table class="events-list table striped table-hover">
              <thead>
                <tr>
                  {% for h in headers %}
                    <th>{{ h }}</th>
                  {% endfor %}
                </tr>
              </thead>
                <tbody>
              {% for item in items %}
                  <tr>
                  {% for h in headers %}
                    <td>{{ item[h] }}</td>
                  {% endfor %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </fieldset>
    </div>
  </div>
{% endblock %}